#account-page.account-page.ball
  = image_tag "/images/top3.jpg", alt: "売り子の画像"
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h5 新規アカウントの作成
      = render "devise/shared/error_messages"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :name
          .field-input
            = f.text_field :name, autofocus: true
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email
        .field
          .field-label
            = f.label :password
            %i (英数字8文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          .field-label
            = f.label :password_confirmation
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "登録", class: 'btn'
        .home-back
          = link_to "戻る", :back

-# = image_tag "/images/top2.jpg", alt: "売り子の画像"
-# .home
-# .hurry
-# 	Hurry App
-# .text
-# 	野球×美女<br>
-# 	球場で出会えるキュート