.body
  .body__header
    .body__header__top
      -if user_signed_in?
        -if current_user == @user || current_user.admin_flg?
          = link_to rails_admin_path do
            管理者ページ
          = link_to orders_path do
            オーダー
          = link_to reviews_path do
            レビュー確認
        -else
      -else
      .body__header__top__left
        = link_to root_path, data: {"turbolinks" => false} do
          Hurry App
      .body__header__top__right
        #{current_user.name}さん ID#{current_user.userid}<br>
    .body__header__bottom
      .body__header__bottom__contents
        %button{type: "button", id: "move_drink"}
          ドリンク
      -# .header__bottom__contents
      -#   %button{type: "button"}
      -#     食べもの
      .body__header__bottom__contents
        %button{type: "button", id: "move_salesperson"}
          売り子
      .body__header__bottom__contents
        %button{type: "button", id: "move_top"}
          上に戻る
      .body__header__bottom__contents
        = link_to new_order_path, id: "order_btn", data: {"turbolinks" => false} do
          注文する
      .body__header__bottom__edit
        .body__header__bottom__edit__set
          = link_to edit_user_path(current_user) do
            ユーザー設定
        .body__header__bottom__edit__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
  .body__main
    .body__main__content
      .body__main__content__image
        = image_tag "/images/login.jpg", alt: "売り子の画像"
        %p
          THINK OUT OF<br>
          THE PLAYERS<br>
          選手を想い、考える。<br>
      .body__main__content__title
        ドリンク
      .body__main__content__drinks
        - @drink.each do |drink|
          .body__main__content__drinks__box
            %div.name
              = drink.name
              = drink.price.to_s(:currency, locale: :ja)
            %div.image
              = image_tag drink.image, size: "300x300", alt: "ドリンクの画像"
      -# .body__main__foods
      -#   [食べもの]

      .body__main__content__title
        売り子
      .body__main__content__salespersons
        - @salesperson.each do |salesperson|
          .body__main__content__drinks__box
            %div.name
              = salesperson.name
            %div.image
              = image_tag salesperson.image, size: "300x300", alt: "売り子の画像"