.list
  .list__title
    提供済みオーダー<br>
    = link_to root_path, data: {"turbolinks" => false} do
      ホームに戻る<br>
    = link_to orders_path do
      オーダーに戻る
  .list__discription
    - @order.all.each do |order|
      %ul= order.created_at.strftime("%Y-%m-%d %H:%M")
      %li= order.user.name
      %li= order.seat
      %li= order.drink
      %li= order.salesperson
      <br>