.list
  .list__title
    オーダー<br>
    = link_to root_path, data: {"turbolinks" => false} do
      ホームに戻る<br>
    = link_to history_orders_path do
      提供済みのオーダーへ
  .list__discription
    - @order.all.each do |order|
      %ul= order.created_at.strftime("%Y-%m-%d %H:%M")
      %li= order.user.name
      %li= order.seat
      - order.drinks.all.each do |drink|
        %li= drink.name
      -if order.salesperson_id != nil
        %li= order.salesperson.name
      = link_to order_path(order.id) do
        %button.progress 提供完了画面へ
