- if flash[:alert]
  .flash
    = flash[:alert]
.order
  .title
    = link_to root_path, data: {"turbolinks" => false} do
      Hurry App
  = form_with model: @order, local: true do |f|
    .order__form
      .order__form__seat
        = f.label :seat, "＜座席＞"
        = f.text_field :seat, placeholder: '（例）1塁側10列10番', size: 30
      .order__form__drink
        = f.label :drink_ids, "＜ドリンク＞⚾️1杯分の値段です⚾️"
        = f.collection_check_boxes :drink_ids, Drink.all, :id, :id, include_hidden: false do |b|
          = b.label do
            %li#boxes
              = b.check_box
              = b.object.name
              = b.object.price.to_s(:currency, locale: :ja)
      -# .order__food
      -#   [食べもの]⚾️1人分の値段です⚾️<br>
      -#   = f.collection_check_boxes :food, Food.all, :id, :name, {} do |b|
      -#     = b.label do
      -#       = b.check_box
      -#       = b.object.name
      -#       = b.object.price.to_s(:currency, locale: :ja)
      .order__form__salesperson
        = f.label :salesperson_id, "＜売り子＞⚾️ご指名されない場合早くお届けできます⚾️"
        -# = f.text_field :salesperson, placeholder: 'お好きな売り子をご指名ください', size: 30 , autocomplete: 'off', id: "search" #インクリメンタルサーチで検索可能
        = f.collection_select :salesperson_id, Salesperson.all, :id, :name, prompt: "---"
        -# #search-result
      .order__form__submit
        = f.submit '注文する', id: "submit"
      .order__form__cash
        お会計は後払いとなります
      .order__form__back
        = link_to "ホームに戻る", root_path, data: {"turbolinks" => false}
      .order__form__image
        = link_to root_path, data: {"turbolinks" => false} do
          = image_tag "/images/uriko.jpg", alt: "メロンソーダの画像"
