.show
  %ul= @order.created_at.strftime("%Y-%m-%d %H:%M")
  %li= @order.user.name
  %li= @order.seat
  - @order.drinks.all.each do |drink|
    %li= drink.name
  - if @order.salesperson_id != nil
    %li= @order.salesperson.name
  = link_to completed_order_path(@order) do
    %button.progress 提供完了確定
  = link_to orders_path do
    戻る