#account-page.account-page
  .body__header__top__left.signin
    Hurry App
    .text
      野球×美女<br>
      球場で出会えるキュート
  = image_tag "/assets/top4.jpg", alt: "売り子の画像", width: "350px"
  = image_tag "/assets/top1.jpg", alt: "売り子の画像", width: "450px"
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      -# %h2 ログインページ
      -# = render "devise/shared/links"
      = flash[:notice]
      = flash[:alert]
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :userid, "ユーザーID"
          .field-input
            = f.text_field :userid, autofocus: true
          -# - if resource.errors.any?
          -#   #error_explanation
          -#     %h2
          -#       = I18n.t("errors.messages.not_saved",                 |
          -#         count: resource.errors.count,                       |
          -#         resource: resource.class.model_name.human.downcase) |
          -#     %ul
          -#       - resource.errors.full_messages.each do |message|
          -#         %li= message
          -# - if resource.errors.any?
          -#   %ul
          -#     - resource.errors.full_messages_for(:userid).each do |message|
          -#       %li= message
          .field-label
            = f.label :email, "メールアドレス"
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :password, "パスワード"
              %i (英数字8文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
        .actions
          = f.submit "ログイン", class: 'btn'