.list
  .list__title
    レビュー<br>
    = link_to root_path, data: {"turbolinks" => false} do
      ホームに戻る
  = paginate @review
  <br>
  .list__discription
    - @review.all.each do |review|
      %ul= review.created_at.strftime("%Y-%m-%d %H:%M")
      %li= review.user.name
      %li= review.rate
      -# %div#star-rating-result
      %li= review.text
      <br>
    = paginate @review
