- if flash[:notice]
  .flash
    = flash[:notice]
.title
  = link_to root_path, data: {"turbolinks" => false} do
    Hurry App
.review
  注文が完了しました。少々お待ちください。
  = link_to 'ホームに戻る', root_path, data: {"turbolinks" => false}
  .review__box
    = form_with model: @review, local: true, remote: true do |f|
      .review__box__rate#star
        = f.label :text, "レビューする"
        -# = f.label :rate, '星'
        = f.hidden_field :rate, id: :review_star
        %div#star-rating
      .review__box__text
        = f.text_area :text, placeholder: "書き込みは任意です"
      .review__box__submit
        = f.submit "送信する"
  .order__form__image
    = link_to root_path, data: {"turbolinks" => false} do
      = image_tag "/images/review.jpg",width: "100%", alt: "メロンソーダの画像"